.Hero {
    position: relative;
    text-align: center;
    height: 100vh;
}

.Hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Hero-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.Hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;
    padding: var(--gap-s);
}

.Hero-content h1, .Hero-content p {
    color: var(--color-white);
}

.Hero-subheading {
    font-size: var(--h4);
}
