.ParallaxImgSection {
    background-image: url('../../img/family-photo-mateo-smiling.webp');
    background-size: cover;
    background-position: center;
    min-height: var(--parallax-min-height);
    max-height: var(--parallax-max-height);
    background-repeat: no-repeat;
    width: 100%;
}

@media (min-width: 1024px) {
    .ParallaxImgSection {
        background-position: center;
    }
}

@supports (-webkit-touch-callout: none) {
    .ParallaxImgSection {
        background-attachment: scroll
    }
}
    
@supports not (-webkit-touch-callout: none) {
    .ParallaxImgSection {
        background-attachment: fixed;
    }
}